{% extends 'base.html' %}
{% block title %}
    Change password 

{% endblock%}

{% block content %}
    <h1>Change Password</h1>
    {% if error%}
            <p class="error-message"><strong>{{error}}</strong></p>
    {% endif%}
    <div class="form-container">
        <form action="/profile/change-password" method="post">
            <div class="input-group">
                <label for="oldpassword">Old password : </label>
                <input type="text" name="oldpassword" class="input-field" required>

                <label for="newpassword">New password : </label>
                <input type="text" name="newpassword" class="input-field" required>

                <button type="submit" class="submit-btn">Change Password </button>
            </div>
        </form>
        <a href="/" class="link">Go home</a>
    </div>
{% endblock %}