{% extends 'base.html' %}
{% block title %}
    Change password 

{% endblock%}

{% block content %}
    <h1>Change Password</h1>
    {% if error%}
            <p><strong>{{error}}</strong></p>
    {% endif%}
    <div>
        <form action="/profile/change-password" method="post">
            <div>
                <label for="oldpassword">Old password : </label>
                <input type="text" name="oldpassword" required>

                <label for="newpassword">New password : </label>
                <input type="text" name="newpassword" required>

                <button type="submit">Change Password </button>
            </div>
        </form>
        <a href="/">Go home</a>
    </div>
{% endblock %}