{% extends 'base.html' %}

{% block title %}
    My Collections
{% endblock %}

{% block content %}
    <h1>My Movies </h1>
    <div class="movies-list">
        <ul>
            {% for movie in movies %}
            <li class="movie-item">
                <strong>{{ movie.title }} ({{movie.year}})</strong>
                <!-- <form action="/delete-movie" method="post">
                    <input type="hidden" name="title" value="{{ movie.title }}">
                    <input type="hidden" name="year" value="{{ movie.year }}">
                    <button type="submit">Delete</button>
                </form> -->
                <form action="{{ url_for('delete_movie', movie_id=movie.id) }}" method="POST">
                    <button type="submit" class="delete-btn" >Delete</button>
                </form>
            </li>
            {% else %}
            <li>No movies added yet.</li>
        {% endfor %}
        </ul>
    </div>
    
{% endblock %}
