{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    
    <h2>My Account</h2>
    <div>
        <label for="username" >Username</label>
        <input type="text" value="{{ user.username}}"}>

    </div>
    <div>
        <form action="/delete" method="post">
            <input type="submit" name="delete" value="Delete Account">
        </form>

        <p><a href="/">Go Home</a></p>
        <a href="/profile/change-password">Change Password</a>
    </div>
{% endblock %}
