{% extends 'base.html' %}

{% block title %}
    {{ friend.username }}'s Profile
{% endblock %}

{% block content %}
    <h1>{{ friend.username }}'s Profile</h1>
    <form>
        <button class="add-friend-btn">Add friend</button>
        
    </form>
    
    <div class="movies-list">
        <ul>
            {% for movie in friend.movies %}
                <li class="movie-item">
                    {{ movie.title }} ({{ movie.year }})
                    <form action="/add-movie" method="POST">
                        <input type="hidden" name="title" value="{{ movie.title }}">
                        <input type="hidden" name="year" value="{{ movie.year }}">
                        <button type="submit" class="add-movie-btn">Add Movie</button>
                    </form>
                </li>
            {% else %}
                <li>No movies added yet.</li>
            {% endfor %}
        </ul>
    </div>
    
        
    

    <a href="{{ url_for('search') }}">Back to Search</a>
{% endblock %}
